---
import Layout from "@layouts/Layout.astro";

const socialImageURL = new URL("/icons/android-chrome-512x512.png", Astro.url);

let schema = {
	"@context": "https://schema.org/",
	"@type": "ImageObject",
	contentUrl: socialImageURL,
	creditText: "prolegomena",
	creator: {
		"@type": "Organization",
		name: "prolegomena",
	},
	copyrightNotice: "prolegomena",
};
const description = "Researcher working on task automation AI";

import { getCollection } from "astro:content";

let formatDate = (date: Date): string => {
	return date.toISOString().split("T")[0];
};

const blogEntries = await getCollection("blog");
---

<Layout title="Prolegomena">
	<Fragment slot="seo">
		<script
			type="application/ld+json"
			set:html={JSON.stringify(schema)}
			is:inline
		/>
		<meta name="description" content={description} />
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content="prolegomena | home" />
		<meta property="twitter:card" content="summary" />
		<meta property="og:image" content={socialImageURL} />
	</Fragment>
	<div class="container" slot="header">
		<div class="font-mono flex gap-1 items-end mt-4 text-md">
			<h1 class="font-black">Prolegomena</h1> |
			<span> AI Systems Research </span>
		</div>
		<div class="font-mono mt-2">
			<p class="font-mono">
				Software for aiding the best and multiplying the will.
			</p>
		</div>
	</div>

	<main aria-role="main" class="container">
		<h2 id="projects" class="font-bold mt-3 mb-1">Purpose</h2>
		<hr class="header" />
		<div>
			<p>Low slop. Words intended to communicate, not to confuse.</p>
		</div>
		<h2 id="projects" class="font-bold mt-3 mb-1">Bio</h2>
		<hr class="header" />
		<div>
			<p>ML researcher focused on digital agents for production use cases. I like NLP and RL separately, too.</p>
			<p>
				DM <a href="https://x.com/joshpurtell" class="link">@joshpurtell</a> on x dot
				com the everything app
			</p>
		</div>
		<h2 id="projects" class="font-bold mt-3 mb-1">Ongoing Projects</h2>
		<hr class="header" />
		<ul class="list-disc list-inside">
			<li>
				2D Minecraft for LMs- <a
					href="https://github.com/JoshuaPurtell/craftaxlm"
					class="link">prolegomena/craftaxlm</a
				>
			</li>
			<li>
				Long Range Context Bench - <a
					href="https://github.com/JoshuaPurtell/LRCBench"
					class="link">prolegomena/lrcbench</a
				>
			</li>
			<li>
				Simple Agent Task Suite - <a
					href="https://github.com/JoshuaPurtell/Smallbench"
					class="link">prolegomena/smallbench</a
				>
			</li>
			<li>
				Fast Compound AI Systems - <a
					href="https://github.com/JoshuaPurtell/Apropos"
					class="link">prolegomena/apropos</a
				>
			</li>
		</ul>
		<h2 id="Papers" class="font-bold mt-3 mb-1">papers</h2>
		<hr class="header" />
		<ul class="list-disc list-inside">
			<li>
				<a href="https://arxiv.org/pdf/2406.11695" class="link">
					Improving Compound AI Systems with Data
				</a>
			</li>
		</ul>

		<h2 id="recent-posts" class="font-bold mt-3 mb-1">recent posts</h2>
		<hr class="header" />
		<div>
			<ul>
				{
					blogEntries
						.filter(entry => !entry.data.tags.includes("Personal"))
						.sort(
							(a, b) =>
								b.data.publishDate.getTime() - a.data.publishDate.getTime(),
						)
						.slice(0, 5)
						//.filter(entry => entry.draft)
						.map((entry) => (
							<li class="hover:bg-[#fef9c3] hover:cursor-pointer">
								<a href={`/posts/${entry.slug}/`}>
									<div class="flex justify-between overflow-hidden whitespace-nowrap">
										<span class="ellipsis-suffix overflow-hidden whitespace-nowrap">
											{formatDate(entry.data.publishDate)}
										</span>
										<span class="flex-shrink-0 overflow-hidden whitespace-nowrap pl-2">
											{entry.data.title}
										</span>
									</div>
								</a>
							</li>
						))
				}
			</ul>
		</div>
	</main>
</Layout>
